* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--cor-1);
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: inherit;
}
label{
  display: block;
}
input{
  display: block;
}
