.galeria {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	height: auto;
	overflow: auto;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.active {
	scroll-snap-type: unset;
}

.galeria li {
	scroll-snap-align: center;
	border-radius: 3px;
	font-size: 0;
}

.galeria-item{
	display: grid;
	grid-template-columns: 200px 200px;
	justify-content: start;
	gap: 10px;
}
.galeria-item img{
	object-fit: fill;
}
@media (max-width:600px){
	.galeria-item{
		grid-template-columns: 150px 200px;
	}
}